<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ContractInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.entity.ContractInfo">
        <id column="ID" property="id" />
        <result column="CONTRACT_SOURCE" property="contractSource" />
        <result column="CONTRACT_NAME" property="contractName" />
        <result column="CONTRACT_TYPE" property="contractType" />
        <result column="CONTRACT_PERIOD" property="contractPeriod" />
        <result column="VALUATION_MODE" property="valuationMode" />
        <result column="EXCHANGE_RATE" property="exchangeRate" />
        <result column="CURRENCY_NAME" property="currencyName" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="CONTRACT_TEXT" property="contractText" />
        <result column="CONTRACT_AMOUNT" property="contractAmount" />
        <result column="CONTRACT_SUBJECT" property="contractSubject" />
        <result column="RELATED_PROJECT" property="relatedProject" />
        <result column="PAYMENT_DIRECTION" property="paymentDirection" />
        <result column="IS_IMPORTANT" property="isImportant" />
        <result column="IS_TEXT" property="isText" />
        <result column="RELATED_TEMPLATE" property="relatedTemplate" />
        <result column="SIGNING_SUBJECT_ID" property="signingSubjectId" />
        <result column="SIGNING_SUBJECT_CODE" property="signingSubjectCode" />
        <result column="SIGNING_SUBJECT_NAME" property="signingSubjectName" />
        <result column="CONTACT_INFORMATION" property="contactInformation" />
        <result column="PRIMARY_CONTENT" property="primaryContent" />
        <result column="DELEGATION_ID" property="delegationId" />
        <result column="DELEGATION_TYPE" property="delegationType" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="CREATOR_ACCOUNT" property="creatorAccount" />
        <result column="CREATOR_NAME" property="creatorName" />
        <result column="CREATE_DEPT_ID" property="createDeptId" />
        <result column="CREATE_DEPT_CODE" property="createDeptCode" />
        <result column="CREATE_DEPT_NAME" property="createDeptName" />
        <result column="MODIFY_DEPT_ID" property="modifyDeptId" />
        <result column="MODIFY_DEPT_CODE" property="modifyDeptCode" />
        <result column="MODIFY_DEPT_NAME" property="modifyDeptName" />
        <result column="MODIFY_EMP_ID" property="modifyEmpId" />
        <result column="MODIFY_EMP_ACCOUNT" property="modifyEmpAccount" />
        <result column="MODIFY_EMP_NAME" property="modifyEmpName" />
        <result column="DELETED" property="deleted" />
        <result column="CREATION_TIME" property="creationTime" />
        <result column="LAST_MODIFIED_TIME" property="lastModifiedTime" />
        <result column="CONTRACT_CODE" property="contractCode" />
        <result column="CONTRACT_STATUS" property="contractStatus" />
        <result column="CONTRACT_TYPE_NAME" property="contractTypeName" />
        <result column="RELATED_TEMPLATE_NAME" property="relatedTemplateName" />
        <result column="RELATED_PROJECT_NAME" property="relatedProjectName" />
        <result column="RMB_AMOUNT" property="rmbAmount" />
        <result column="RMB_AMOUNT_CAPITAL" property="rmbAmountCapital" />
        <result column="CONTRACT_AMOUNT_FORSHOW" property="contractAmountForshow" />
        <result column="RMB_AMOUNT_FORSHOW" property="rmbAmountForshow" />
        <result column="CONTRACT_SELF_CODE" property="contractSelfCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="BODY_SUMMARY" property="bodySummary" />
        <result column="AMOUNT_EXPLAIN" property="amountExplain" />
        <result column="ACC_NATURE_NAME" property="accNatureName" />
        <result column="STAMP_CATEGORY_NAME" property="stampCategoryName" />
        <result column="IS_RELATED_PARTY" property="isRelatedParty" />
        <result column="IS_RELATED_DEAL" property="isRelatedDeal" />
        <result column="IS_BATCH_APPROVE" property="isBatchApprove" />
        <result column="WORKFLOW_CODE" property="workflowCode" />
        <result column="CONTRACT_NATURE" property="contractNature" />
        <result column="CONTRACT_GIST" property="contractGist" />
        <result column="ARCHIVE_STATUS" property="archiveStatus" />
        <result column="UPDATE_STATUS" property="updateStatus" />
        <result column="ORIGINAL_CONTRACT_ID" property="originalContractId" />
        <result column="OLD_STATUS" property="oldStatus" />
        <result column="IS_PERFORMS" property="isPerforms" />
        <result column="EXECUTOR_NAME" property="executorName" />
        <result column="CREATE_UNIT_ID" property="createUnitId" />
        <result column="EXECUTOR_UNIT_ID" property="executorUnitId" />
        <result column="EXECUTOR_DEPT_ID" property="executorDeptId" />
        <result column="EXECUTOR_ID" property="executorId" />
        <result column="APPROVE_TIME" property="approveTime" />
        <result column="HAS_WARRANTY_PERIOD" property="hasWarrantyPeriod" />
        <result column="HAS_SCHEDULE" property="hasSchedule" />
        <result column="HAS_GOODS" property="hasGoods" />
        <result column="ORI_CT_TEXT" property="oriCtText" />
        <result column="IS_TENDER" property="isTender" />
        <result column="TENDER_NO" property="tenderNo" />
        <result column="TEMPLATE_TYPE" property="templateType" />
        <result column="ATTACHMENT_TYPE" property="attachmentType" />
        <result column="CONTRACT_CATEGORY" property="contractCategory" />
        <result column="IS_OVERSEAS" property="isOverseas" />
        <result column="IS_NEEDLEGAL_REVIEW" property="isNeedlegalReview" />
        <result column="PAY_TAX" property="payTax" />
        <result column="IS_IMPORTANT_SHOW" property="isImportantShow" />
        <result column="CONTRACT_PARENT_TYPE" property="contractParentType" />
        <result column="IS_INTERNAL_UNIT" property="isInternalUnit" />
        <result column="CONTRACT_SCAN_FILE" property="contractScanFile" />
        <result column="EXECUTOR_UNIT_CODE" property="executorUnitCode" />
        <result column="EXECUTOR_DEPT_CODE" property="executorDeptCode" />
        <result column="EXECUTOR_CODE" property="executorCode" />
        <result column="HANDLE_UNIT_CODE" property="handleUnitCode" />
        <result column="HANDLE_UNIT_NAME" property="handleUnitName" />
        <result column="HANDLE_DEPT_CODE" property="handleDeptCode" />
        <result column="HANDLE_DEPT_NAME" property="handleDeptName" />
        <result column="IMPORT_REASON" property="importReason" />
        <result column="IS_SIGN" property="isSign" />
        <result column="IS_HANDOVER" property="isHandover" />
        <result column="OUTER_SOURCE" property="outerSource" />
        <result column="RISK_CONFIRM" property="riskConfirm" />
        <result column="ISIMPORT" property="isimport" />
        <result column="ATTACHMENT" property="attachment" />
        <result column="PERIOD_EXPLAIN" property="periodExplain" />
        <result column="LAWYER_SERVICE_TYPE" property="lawyerServiceType" />
    </resultMap>
</mapper>
